{% extends "index.html" %}
{% block content %}

<h1>Buttons from bootstrap</h1>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <h1>Content of List-1</h1>
    <ul>
        {%for name in l1%}
            <li>{{name}}</li>
        {%endfor%}
    </ul>

    <h1>For if-else Condition</h1>
    {%if 'Naman' in l1%}
        <p>We have have found Vishwajeet</p>
    {%else%}
        <p>Person not found</p>
    {%endif%}

{% endblock %}